@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  text-decoration: none;
}

html,body{
  height:100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing:antialiased;
  --black:hsl(240, 6%, 13%);
  --grey:hsl(240, 9%, 89%);
}
body{
  display: grid;
  place-items: center;
  background-color: rgb(50, 51, 49);
}

main{
  background:url(images/Mobile.png);
  width: 375px;
  height: 812px;

}

.container{
  max-width: 250px;
 margin-left: auto;
 margin-right: auto;
 padding: 20px;
 text-align: center;
 color:var(--grey);
}

.avatar{
  width: 10rem;
  margin:11.5rem auto 0;
  position: relative;
}


.avatar span{
position:absolute;
top: -15px;
left: -7px;
z-index: 999;
}

.avatar > img{
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

h1{
  font-size:1.5rem;
  margin-top: 1.5rem;
  
}

.info a{
 
  display: flex;
  justify-content:center;
  margin-left: 5px;
  
}

a{
  text-decoration: none;
  margin-top: 0.25rem;
  color: var(--grey);
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}


p{
  margin-top:2rem;
}

ul{
  margin-top: 3rem;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding:0;
}

